/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>
 #include <dt-bindings/zmk/bt.h>
 #include <dt-bindings/zmk/rgb.h>
 #include <dt-bindings/zmk/ext_power.h>
 #include <dt-bindings/zmk/outputs.h>

 #define DEFAULT 0

/ {
       keymap {
              compatible = "zmk,keymap";
 
              default_layer {
                     bindings = <
&kp A  &kp B  &kp C  &kp D  &kp E  &kp F  &kp G  &kp H  &kp I  &kp J  &kp K  &kp L  &kp M  &kp N 
&kp O  &kp P  &kp Q  &kp R  &kp S  &kp T  &kp U  &kp V  &kp W  &kp X  &kp Y  &kp Z  &kp N0 &kp N1
&kp LS(A)  &kp LS(B)  &kp LS(C)  &kp LS(D)  &kp LS(E)  &kp LS(F)  &kp LS(G)  &kp LS(H)  &kp LS(I)  &kp LS(J)  &kp LS(K)  &kp LS(L)  &kp LS(M)  &kp LS(N) 
&kp LS(O)  &kp LS(P)  &kp LS(Q)  &kp LS(R)  &kp LS(S)  &kp LS(T)  &kp LS(U)  &kp LS(V)  &kp LS(W)  &kp LS(X)  &kp LS(Y)  &kp LS(Z)  &kp LS(N0) &kp LS(N1)
                     >;
              };
       };
};
